.masonryNotesGrid {
  display: flex;
  width: 600px;
  gap: 30px; /* horizontal gap between notes */
  margin-left: -60px; /* gap offset */
}

.masonryNotesGridColumn > div {
  /* vertical gap between notes */
  margin-bottom: 15px;
}
