.note {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
  word-wrap: break-word;
  position: relative;
}

.noteTitle {
  font-size: 20px;
}

.overlaySelect {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-33%, -33%);
}
